In [1]:
import requests
from bs4 import BeautifulSoup

In [27]:
url = "https://www.worldometers.info/coronavirus/"
content = requests.get(url).content
soup = BeautifulSoup(content, "html.parser") 
#soup contains all the html content of the url we copied
#print(soup)

### Find and findall are beautifulSoap methods and NOT python built in functions

In [7]:
tbody = soup.find("tbody") #We just want to pull the html data from the table so we pull tbody first

In [8]:
table_row = tbody.find_all("tr") #We are pulling all the table rows

In [10]:
table_row[0] #this is now the row that we need so lets look for the one needed

<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>126,355,533</td>
<td></td>
<td>1,630,739</td>
<td></td>
<td>122,187,097</td>
<td></td>
<td>2,537,697</td>
<td>6,318</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

In [12]:
table_row[1] #We are looking to start with USA

<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>217,086,605</td>
<td>+7,178</td>
<td>1,545,720</td>
<td>+7</td>
<td>200,831,884</td>
<td></td>
<td>14,709,001</td>
<td>15,591</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

In [14]:
table_row[8] #we've got USA boyz

<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">106,792,474</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,162,701                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">104,777,111</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">852,662</td>
<td style="font-weight: bold; text-align:right">1,152</td>
<td style="font-weight: bold; text-align:right">318,969</td>
<td style="font-weight: bold; text-align:right">3,473</td>
<td style="font-weight: bold; text-align:right">1,179,105,112</td>
<td style="font-weight: bold; text-align:right">3,521,764</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>288</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,547</td>
</tr>

# Find_all and filter
The find_all method and the filter method are similar in that they both allow you to search for elements in a BeautifulSoup object that match a certain criteria. However, they have some differences.

find_all is a BeautifulSoup method that returns a list of all the matching tags and their contents. It allows you to specify a tag name, a list of tag names, a class, an id, or any combination of these as arguments. For example, soup.find_all('p') will return a list of all the `<p>` tags in the soup.

filter is a Python built-in function that takes a function and an iterable as arguments, and returns an iterator containing all the elements of the iterable for which the function returns True. In BeautifulSoup, you can use the filter function to filter the contents of a tag or a list of tags based on some criterion. For example, filter(lambda x: 'spam' in x, soup) will return an iterator containing all the elements of the soup that contain the string 'spam'.

So while they are similar in some ways, they have different use cases. find_all is more commonly used in BeautifulSoup to find elements that match a certain criteria, while filter is more general-purpose and can be used in a wider variety of situations.

In [16]:
# now we loop through all the rows starting from [8] to get all rows
all_data = []
for row in range(8, len(table_row)): #this loop is to get all the rows
    #we have now entered an individual row
    cd = [] 
    country_data = table_row[row].find_all("td") #this finds all the table data inside of the specific row
 # This loop appends the text content of each table cell to the 'cd' list
    # It also removes some of the unnecessary tags and attributes    
    for item in country_data:
        print(item.text)
        cd.append(item.text)
    all_data.append(cd)

1
USA
106,792,474

1,162,701

104,777,111

852,662
1,152
318,969
3,473
1,179,105,112
3,521,764
334,805,269
North America
3
288
0


2,547
2
India
44,980,674

531,770

44,433,389

15,515
N/A
31,978
378
928,487,923
660,079
1,406,631,776
Asia
31
2,645
2


11
3
France
40,044,973

166,970

39,784,462

93,541
869
610,586
2,546
271,490,188
4,139,547
65,584,518
Europe
2
393
0


1,426
4
Germany
38,417,622

173,797

38,217,400

26,425
N/A
457,987
2,072
122,332,384
1,458,359
83,883,596
Europe
2
483
1


315
5
Brazil
37,511,921

702,116

36,249,161

560,644
N/A
174,188
3,260
63,776,166
296,146
215,353,593
South America
6
307
3


2,603
6
Japan
33,803,572

74,694

N/A
N/A
N/A
83
269,169
595
100,414,883
799,578
125,584,838
Asia
4
1,681
1


95,582
7
S. Korea
31,415,280
+7,178
34,610
+7
31,094,467

286,203
150
612,027
674
15,804,065
307,892
51,329,899
Asia
2
1,483
3
140
0.1
5,576
8
Italy
25,828,252

190,080

25,511,697

126,475
84
428,594
3,154
272,079,213
4,514,881
60,262,770
Europe
2
317
0


2,099
9
UK
24,569,895

223,396

24,343,853
+1,940
2,646
N/A
358,696
3,261
522,526,476
7,628,357
68,497,907
Europe
3
307
0


39
10
Russia
22,898,376

398,710

22,320,310

179,356
N/A
157,047
2,735
273,400,000
1,875,095
145,805,947
Europe
6
366
1


1,230
11
Turkey
17,232,066

102,174

N/A
N/A
N/A

201,399
1,194
162,743,369
1,902,052
85,561,976
Asia
5
837
1


4,024
12
Spain
13,845,825

120,964

13,681,014

43,847
231
296,363
2,589
471,036,328
10,082,298
46,719,142
Europe
3
386
0


939
13
Vietnam
11,590,617

43,201

10,632,334

915,082
52
117,132
437
85,826,548
867,342
98,953,541
Asia
9
2,291
1


9,248
14
Australia
11,505,229

20,557

11,454,943

29,729
61
441,341
789
81,901,821
3,141,757
26,068,792
Australia/Oceania
2
1,268
0


1,140
15
Taiwan
10,239,998

19,005

10,220,993

0

428,656
796
30,742,304
1,286,903
23,888,595
Asia
2
1,257
1



16
Argentina
10,044,957

130,472

9,914,485

0
363
218,320
2,836
35,716,069
776,264
46,010,234
South America
5
353
1



17
Netherlands
8,610,372

22,992

8,587,380

0
53
500,270
1,336
25,984,435
1,509,718
17,211,447
Europe
2
749
1



18
Iran
7,609,922

146,165

7,342,490

121,267
407
88,464
1,699
55,353,767
643,478
86,022,837
Asia
11
589
2


1,410
19
Mexico
7,600,278

333,985

6,847,177

419,116
N/A
57,769
2,539
19,971,611
151,803
131,562,772
North America
17
394
7


3,186
20
Indonesia
6,797,336

161,609

6,617,548

18,179
N/A
24,351
579
114,158,919
408,975
279,134,505
Asia
41
1,727
2


65
21
Poland
6,515,583

119,585

5,335,940

1,060,058
648
172,645
3,169
38,698,682
1,025,408
37,739,785
Europe
6
316
1


28,089
22
Colombia
6,365,994

142,727

6,187,964

35,303
342
123,581
2,771
36,951,507
717,327
51,512,762
South America
8
361
1


685
23
Austria
6,072,041

22,478

6,042,072

7,491
55
669,707
2,479
211,273,524
23,302,116
9,066,710
Europe
1
403
0


826
24
Greece
6,025,776

36,811

5,981,733
+2,659
7,232
115
584,083
3,568
102,228,365
9,909,078
10,316,637
Europe
2
280
0


701
25
Portugal
5,582,987

26,616

5,551,209

5,162
61
550,559
2,625
46,082,209
4,544,341
10,140,570
Europe
2
381
0


509
26
Ukraine
5,538,357

112,210

5,406,404

19,743

128,226
2,598
32,603,805
754,855
43,192,122
Europe
8
385
1


457
27
Chile
5,286,206

64,497

5,221,408

301
32
274,605
3,350
49,537,639
2,573,358
19,250,195
South America
4
298
0


16
28
Malaysia
5,079,436

37,028

5,025,566

16,842
29
153,082
1,116
68,347,420
2,059,832
33,181,072
Asia
7
896
0


508
29
Israel
4,823,329

12,500

4,798,473

12,356
21
517,192
1,340
41,373,364
4,436,346
9,326,000
Asia
2
746
0


1,325
30
Belgium
4,797,108

34,298

4,753,042
+537
9,768
43
411,124
2,939
37,018,657
3,172,590
11,668,278
Europe
2
340
0


837
31
DPRK
4,772,813

74

4,772,739

0

183,636
3


25,990,679
Asia
5
351,225




32
Thailand
4,734,000

33,967

4,692,636

7,397
N/A
67,553
485
17,270,775
246,450
70,078,203
Asia
15
2,063
4


106
33
Czechia
4,641,327

42,787

4,597,007

1,533
5
432,283
3,985
57,196,156
5,327,122
10,736,784
Europe
2
251
0


143
34
Canada
4,641,301

52,247

4,589,054

0
99
120,904
1,361
66,343,123
1,728,207
38,388,419
North America
8
735
1



35
Peru
4,503,222

220,196

4,282,432
+127
594
26
133,689
6,537
38,548,796
1,144,417
33,684,208
South America
7
153
1


18
36
Switzerland
4,404,327

14,452

4,385,766

4,109
39
501,996
1,647
23,833,472
2,716,487
8,773,637
Europe
2
607
0


468
37
Philippines
4,115,202

66,453

4,032,858

15,891
162
36,577
591
35,119,959
312,152
112,508,994
Asia
27
1,693
3


141
38
South Africa
4,076,463

102,595

3,912,506

61,362
192
67,095
1,689
26,795,090
441,027
60,756,135
Africa
15
592
2


1,010
39
Romania
3,397,365

68,117

3,322,007

7,241
114
178,514
3,579
27,242,332
1,431,446
19,031,335
Europe
6
279
1


380
40
Denmark
3,181,332

8,638

3,171,903

791
5
545,220
1,480
129,276,544
22,155,553
5,834,950
Europe
2
675
0


136
41
Hong Kong
2,897,432

13,652

2,871,865

11,915
28
381,026
1,795
76,127,725
10,011,143
7,604,299
Asia
3
557
0


1,567
42
Sweden
2,708,137

24,183

2,680,599
+196
3,355
8
265,011
2,366
19,500,873
1,908,301
10,218,971
Europe
4
423
1


328
43
Serbia
2,538,655

18,036

2,515,175

5,444
8
293,384
2,084
12,852,191
1,485,285
8,653,016
Europe
3
480
1


629
44
Iraq
2,465,545

25,375

2,439,497

673
21
58,474
602
19,544,451
463,523
42,164,965
Asia
17
1,662
2


16
45
Singapore
2,391,248

1,727

2,149,583

239,938
2
402,327
291
24,756,666
4,165,302
5,943,546
Asia
2
3,442
0


40,370
46
New Zealand
2,348,074
+1,675
4,267
+9
2,333,521
+1,740
10,286

479,375
871
7,768,604
1,586,011
4,898,203
Australia/Oceania
2
1,148
1
342
2
2,100
47
Hungary
2,202,179

48,859

2,149,848

3,472
8
229,244
5,086
11,394,556
1,186,160
9,606,259
Europe
4
197
1


361
48
Bangladesh
2,038,384

29,446

1,998,448

10,490
N/A
12,141
175
15,254,399
90,862
167,885,689
Asia
82
5,701
11


62
49
Slovakia
1,866,647

21,167

1,845,145

335
13
341,865
3,877
7,428,816
1,360,541
5,460,193
Europe
3
258
1


61
50
Georgia
1,840,187

17,059

1,776,548

46,580

463,671
4,298
16,920,079
4,263,340
3,968,738
Asia
2
233
0


11,737
51
Jordan
1,746,997

14,122

1,731,007

1,868
59
169,597
1,371
17,201,885
1,669,945
10,300,869
Asia
6
729
1


181
52
Ireland
1,711,233

8,905

1,700,028

2,300
19
340,870
1,774
13,083,449
2,606,161
5,020,199
Europe
3
564
0


458
53
Pakistan
1,580,900

30,660

1,538,689

11,551
9
6,889
134
30,571,377
133,215
229,488,994
Asia
145
7,485
8


50
54
Norway
1,483,639

5,435

1,477,705
+71
499
20
269,196
986
11,002,430
1,996,315
5,511,370
Europe
4
1,014
1


91
55
Finland
1,477,021

9,492

1,462,672
+268
4,857
21
265,892
1,709
12,090,288
2,176,485
5,554,960
Europe
4
585
0


874
56
Kazakhstan
1,411,831

13,848

1,383,020

14,963
24
73,514
721
11,575,012
602,707
19,205,043
Asia
14
1,387
2


779
57
Slovenia
1,343,613

7,100

1,328,006

8,507
8
646,579
3,417
2,847,701
1,370,382
2,078,034
Europe
2
293
1


4,094
58
Lithuania
1,319,469

9,674

1,308,213

1,582
2
495,723
3,635
10,443,748
3,923,702
2,661,708
Europe
2
275
0


594
59
Bulgaria
1,305,937

38,353

1,265,384

2,200
31
190,798
5,603
11,206,260
1,637,242
6,844,597
Europe
5
178
1


321
60
Morocco
1,273,832

16,297

1,256,151

1,384
3
33,724
431
13,001,033
344,191
37,772,756
Africa
30
2,318
3


37
61
Croatia
1,273,256

18,213

1,254,564

479
6
313,665
4,487
5,588,632
1,376,752
4,059,286
Europe
3
223
1


118
62
Guatemala
1,250,268

20,199

1,228,286

1,783
5
67,276
1,087
7,278,107
391,632
18,584,039
North America
15
920
3


96
63
Lebanon
1,237,127

10,906

1,087,587

138,634
74
185,064
1,631
4,795,578
717,380
6,684,849
Asia
5
613
1


20,739
64
Costa Rica
1,229,587

9,362

860,711

359,514
52
237,264
1,807
4,659,757
899,158
5,182,354
North America
4
554
1


69,373
65
Bolivia
1,198,038

22,382

1,167,126

8,530
220
99,898
1,866
2,705,422
225,590
11,992,656
South America
10
536
4


711
66
Tunisia
1,153,063

29,407

N/A
N/A
N/A
44
95,716
2,441
5,011,219
415,984
12,046,656
Africa
10
410
2


1,134
67
Cuba
1,113,642

8,530

1,104,946

166
2
98,503
754
14,345,279
1,268,859
11,305,652
North America
10
1,325
1


15
68
UAE
1,065,607

2,349

1,051,512

11,746

105,696
233
200,615,238
19,898,782
10,081,785
Asia
9
4,292
0


1,165
69
Ecuador
1,061,100

36,019

1,025,081

0
759
58,581
1,989
3,082,403
170,173
18,113,361
South America
17
503
6



70
Panama
1,037,978

8,622

1,028,773

583
16
233,413
1,939
7,671,671
1,725,148
4,446,964
North America
4
516
1


131
71
Uruguay
1,037,893

7,625

1,029,835

433
18
296,879
2,181
6,114,822
1,749,083
3,496,016
South America
3
458
1


124
72
Mongolia
1,008,038

2,179

1,005,814

45
192
298,406
645
4,030,048
1,193,000
3,378,078
Asia
3
1,550
1


13
73
Nepal
1,003,222

12,031

991,071

120

33,191
398
6,040,671
199,853
30,225,582
Asia
30
2,512
5


4
74
Belarus
994,037

7,118

985,592

1,327

105,381
755
13,646,641
1,446,722
9,432,800
Europe
9
1,325
1


141
75
Latvia
977,796

6,333

971,248

215
13
528,871
3,425
7,875,091
4,259,484
1,848,837
Europe
2
292
0


116
76
Saudi Arabia
841,469

9,646

827,923

3,900
66
23,475
269
45,481,735
1,268,848
35,844,909
Asia
43
3,716
1


109
77
Azerbaijan
831,658

10,268

821,292

98

80,742
997
7,604,359
738,273
10,300,205
Asia
12
1,003
1


10
78
Paraguay
810,170

19,921

N/A
N/A
N/A
7
110,893
2,727
2,657,506
363,751
7,305,843
South America
9
367
3


12,583
79
Bahrain
721,085

1,562

719,220

303
1
404,199
876
10,840,228
6,076,419
1,783,983
Asia
2
1,142
0


170
80
Sri Lanka
672,283

16,855

655,385

43

31,159
781
6,486,117
300,619
21,575,842
Asia
32
1,280
3


2
81
Kuwait
665,851

2,570

660,237

3,044

152,009
587
8,455,743
1,930,391
4,380,326
Asia
7
1,704
1


695
82
Dominican Republic
661,103

4,384

644,785

11,934
4
59,794
397
3,740,928
338,350
11,056,370
North America
17
2,522
3


1,079
83
Cyprus
660,854

1,364

657,086

2,404
60
540,184
1,115
9,640,118
7,879,860
1,223,387
Asia
2
897
0


1,965
84
Myanmar
637,249

19,494

615,996

1,759

11,539
353
10,510,839
190,320
55,227,143
Asia
87
2,833
5


32
85
Palestine
621,008

5,404

615,445

159
17
116,173
1,011
3,078,533
575,907
5,345,541
Asia
9
989
2


30
86
Moldova
620,419

12,113

504,142

104,164
49
154,596
3,018
3,216,305
801,437
4,013,171
Europe
6
331
1


25,956
87
Estonia
618,218

3,001

524,990

90,227
2
467,670
2,270
3,707,220
2,804,442
1,321,910
Europe
2
440
0


68,255
88
Venezuela
552,695

5,856

546,537

302
31
18,885
200
3,359,014
114,771
29,266,991
South America
53
4,998
9


10
89
Egypt
516,023

24,613

442,182

49,228
122
4,861
232
3,693,367
34,792
106,156,692
Africa
206
4,313
29


464
90
Qatar
510,596

690

508,999

907
29
171,346
232
4,065,369
1,364,257
2,979,915
Asia
6
4,319
1


304
91
Libya
507,253

6,437

500,815

1

72,045
914
2,483,848
352,782
7,040,745
Africa
14
1,094
3


0.1
92
Ethiopia
500,870

7,574

488,026

5,270
1
4,146
63
5,546,713
45,912
120,812,698
Africa
241
15,951
22


44
93
Réunion
486,588

921

418,572

67,095
10
535,854
1,014
1,603,660
1,766,027
908,061
Africa
2
986
1


73,888
94
Honduras
472,594

11,114

N/A
N/A
N/A
105
46,236
1,087
1,658,999
162,309
10,221,247
North America
22
920
6


32,181
95
Armenia
449,062

8,747

435,162

5,153

151,099
2,943
3,242,901
1,091,164
2,971,966
Asia
7
340
1


1,734
96
Bosnia and Herzegovina
402,890

16,339

379,084

7,467

123,992
5,028
1,884,721
580,036
3,249,317
Europe
8
199
2


2,298
97
Oman
399,449

4,628

384,669

10,152
2
75,028
869
25,000,000
4,695,724
5,323,993
Asia
13
1,150
0


1,907
98
North Macedonia
348,215

9,676

337,068

1,471

167,306
4,649
2,226,216
1,069,626
2,081,304
Europe
6
215
1


707
99
Zambia
343,995

4,058

339,858

79

17,668
208
4,047,915
207,903
19,470,234
Africa
57
4,798
5


4
100
Kenya
343,073

5,688

337,309

76
1
6,103
101
3,967,062
70,569
56,215,221
Africa
164
9,883
14


1
101
Albania
334,726

3,602

329,428

1,696

116,777
1,257
1,941,032
677,173
2,866,374
Europe
9
796
1


592
102
Botswana
329,856

2,801

327,049

6
1
135,123
1,147
2,026,898
830,300
2,441,162
Africa
7
872
1


2
103
Luxembourg
319,959

1,232

316,690

2,037

498,091
1,918
4,587,145
7,140,959
642,371
Europe
2
521
0


3,171
104
Brunei
292,644

225

243,601

48,818
3
656,991
505
717,784
1,611,437
445,431
Asia
2
1,980
1


109,597
105
Montenegro
291,798

2,827

288,383

588
6
464,683
4,502
2,752,386
4,383,129
627,950
Europe
2
222
0


936
106
Algeria
271,817

6,881

183,023

81,913

5,994
152
230,960
5,093
45,350,148
Africa
167
6,591
196


1,806
107
Nigeria
266,675

3,155

259,953

3,567
11
1,230
15
5,708,974
26,339
216,746,934
Africa
813
68,700
38


16
108
Zimbabwe
264,776

5,689

258,888

199
12
17,270
371
2,525,756
164,744
15,331,428
Africa
58
2,695
6


13
109
Uzbekistan
253,287

1,637

241,486

10,164
23
7,367
48
1,377,915
40,077
34,382,084
Asia
136
21,003
25


296
110
Mozambique
233,417

2,243

228,805

2,369
11
7,054
68
1,371,127
41,437
33,089,461
Africa
142
14,752
24


72
111
Martinique
229,900

1,100

N/A
N/A
N/A
12
614,563
2,940
828,928
2,215,870
374,087
North America
2
340
0


611,344
112
Afghanistan
218,826

7,907

195,036

15,883
45
5,369
194
1,248,033
30,623
40,754,388
Asia
186
5,154
33


390
113
Laos
218,098

758

N/A
N/A
N/A

29,153
101
1,233,207
164,845
7,481,023
Asia
34
9,869
6


28,028
114
Iceland
209,191

229

N/A
N/A
N/A
2
605,661
663
1,996,384
5,780,036
345,393
Europe
2
1,508
0


385,871
115
Kyrgyzstan
206,888

2,991

196,406

7,491
131
30,749
445
1,907,195
283,460
6,728,271
Asia
33
2,250
4


1,113
116
Guadeloupe
202,653

1,017

N/A
N/A
N/A
19
506,894
2,544
938,039
2,346,306
399,794
North America
2
393
0


498,722
117
El Salvador
201,785

4,230

179,410

18,145
8
30,805
646
2,610,114
398,467
6,550,389
North America
32
1,549
3


2,770
118
Trinidad and Tobago
191,496

4,390

187,078

28
8
136,143
3,121
913,289
649,295
1,406,585
North America
7
320
2


20
119
Maldives
186,526

314

163,687

22,525
25
344,790
580
2,213,831
4,092,223
540,985
Asia
3
1,723
0


41,637
120
Ghana
171,657

1,462

170,161

34
2
5,299
45
2,536,496
78,298
32,395,450
Africa
189
22,158
13


1
121
Namibia
171,222

4,090

167,099

33

65,008
1,553
1,062,663
403,460
2,633,874
Africa
15
644
2


13
122
Uganda
170,671

3,632

100,431

66,608
3
3,524
75
3,012,408
62,198
48,432,863
Africa
284
13,335
16


1,375
123
Jamaica
154,874

3,536

102,899

48,439

51,882
1,185
1,183,986
396,633
2,985,094
North America
19
844
3


16,227
124
Cambodia
138,736

3,056

135,679

1

8,081
178
3,091,420
180,062
17,168,639
Asia
124
5,618
6


0.06
125
Rwanda
133,194

1,468

131,647

79

9,793
108
6,021,981
442,778
13,600,464
Africa
102
9,265
2


6
126
Cameroon
124,983

1,971

122,807

205
13
4,478
71
1,751,774
62,762
27,911,548
Africa
223
14,161
16


7
127
Malta
118,574

835

117,151

588
4
267,039
1,880
2,137,285
4,813,347
444,033
Europe
4
532
0


1,324
128
Barbados
107,566

589

106,971

6

373,463
2,045
801,451
2,782,594
288,023
North America
3
489
0


21
129
Angola
105,384

1,934

103,419

31

3,009
55
1,499,795
42,818
35,027,343
Africa
332
18,111
23


0.9
130
Channel Islands
101,717

228

101,321

168

576,421
1,292
1,252,808
7,099,551
176,463
Europe
2
774
0


952
131
French Guiana
98,041

420

11,254

86,367
6
312,065
1,337
651,257
2,072,951
314,169
South America
3
748
0


274,906
132
DRC
96,403

1,465

84,489

10,449

1,012
15
846,704
8,890
95,240,792
Africa
988
65,011
112


110
133
Senegal
88,997

1,971

87,024

2

5,041
112
1,146,543
64,946
17,653,671
Africa
198
8,957
15


0.1
134
Malawi
88,728

2,686

85,651

391
67
4,397
133
624,784
30,959
20,180,839
Africa
227
7,513
32


19
135
Ivory Coast
88,329

834

87,492

3

3,184
30
1,690,172
60,924
27,742,298
Africa
314
33,264
16


0.1
136
Suriname
82,495

1,404

N/A
N/A
N/A

138,222
2,352
241,666
404,915
596,831
South America
7
425
2


52,502
137
New Caledonia
79,922

314

79,605

3
9
274,726
1,079
98,964
340,182
290,915
Australia/Oceania
4
926
3


10
138
French Polynesia
78,518

649

N/A
N/A
N/A
7
276,312
2,284


284,164
Australia/Oceania
4
438



156,139
139
Eswatini
74,670

1,425

73,116

129

63,022
1,203
1,048,704
885,119
1,184,817
Africa
16
831
1


109
140
Guyana
73,198

1,298

71,880

20

92,184
1,635
729,688
918,950
794,045
South America
11
612
1


25
141
Belize
70,782

688

70,085

9
6
171,722
1,669
576,016
1,397,453
412,190
North America
6
599
1


22
142
Fiji
68,921

883

67,029

1,009

75,782
971
670,903
737,689
909,466
Australia/Oceania
13
1,030
1


1,109
143
Madagascar
68,266

1,424

66,831

11

2,340
49
530,739
18,190
29,178,077
Africa
427
20,490
55


0.4
144
Sudan
63,993

5,046

58,656

291

1,391
110
562,941
12,240
45,992,020
Africa
719
9,115
82


6
145
Cabo Verde
63,737

414

63,170

153
23
112,277
729
401,622
707,482
567,678
Africa
9
1,371
1


270
146
Mauritania
63,715

997

62,471

247

12,998
203
1,009,957
206,030
4,901,981
Africa
77
4,917
5


50
147
Bhutan
62,668

21

61,564

1,083

79,534
27
2,303,734
2,923,739
787,941
Asia
13
37,521
0


1,374
148
Syria
57,577

3,164

54,370

43

2,973
163
146,269
7,553
19,364,809
Asia
336
6,120
132


2
149
Burundi
53,740

38

53,569

133

4,257
3
345,742
27,386
12,624,840
Africa
235
332,233
37


11
150
Seychelles
50,937

172

50,750

15

512,311
1,730


99,426
Africa
2
578



151
151
Gabon
48,981

306

48,674

1

21,008
131
1,621,909
695,641
2,331,533
Africa
48
7,619
1


0.4
152
Andorra
48,015

165

47,563

287
14
619,844
2,130
249,838
3,225,256
77,463
Europe
2
469
0


3,705
153
Papua New Guinea
46,849

670

43,982

2,197
7
5,042
72
249,149
26,813
9,292,169
Australia/Oceania
198
13,869
37


236
154
Curaçao
45,986

295

44,720

971
3
277,812
1,782
496,693
3,000,640
165,529
North America
4
561
0


5,866
155
Aruba
44,180

236

42,438

1,506
2
410,560
2,193
177,885
1,653,068
107,609
North America
2
456
1


13,995
156
Tanzania
43,078

846

N/A
N/A
N/A
7
681
13


63,298,550
Africa
1,469
74,821



664
157
Mauritius
42,358

1,049

40,565

744

33,229
823
358,675
281,374
1,274,727
Africa
30
1,215
4


584
158
Mayotte
42,027

188

N/A
N/A
N/A

146,815
657
176,919
618,038
286,259
Africa
7
1,523
2


135,804
159
Togo
39,491

290

39,193

8

4,549
33
811,283
93,457
8,680,837
Africa
220
29,934
11


0.9
160
Guinea
38,462

467

37,757

238
8
2,774
34
660,107
47,607
13,865,691
Africa
361
29,691
21


17
161
Bahamas
38,084

844

36,366

874
1
95,087
2,107
257,839
643,767
400,516
North America
11
475
2


2,182
162
Isle of Man
38,008

116

N/A
N/A
N/A

443,335
1,353
150,753
1,758,422
85,732
Europe
2
739
1


129,450
163
Lesotho
34,790

723

25,980

8,087

15,990
332
431,221
198,199
2,175,699
Africa
63
3,009
5


3,717
164
Faeroe Islands
34,658

28

N/A
N/A
N/A
5
703,959
569
778,000
15,802,409
49,233
Europe
1
1,758
0


547,133
165
Haiti
34,228

860

33,342

26

2,930
74
132,422
11,337
11,680,283
North America
341
13,582
88


2
166
Mali
33,145

743

32,326

76

1,544
35
803,825
37,433
21,473,764
Africa
648
28,901
27


4
167
Cayman Islands
31,472

37

8,553

22,882
1
467,797
550
222,773
3,311,280
67,277
North America
2
1,818
0


340,116
168
Saint Lucia
30,052

409

29,095

548

162,344
2,209
210,983
1,139,752
185,113
North America
6
453
1


2,960
169
Benin
28,014

163

27,847

4

2,191
13
604,310
47,268
12,784,726
Africa
456
78,434
21


0.3
170
Somalia
27,334

1,361

13,182

12,791

1,623
81
400,466
23,778
16,841,795
Africa
616
12,375
42


759
171
Micronesia
26,453

65

N/A
N/A
N/A
1
225,153
553
82,000
697,938
117,489
Australia/Oceania
4
1,808
1


161,470
172
Congo
25,375

386

24,006

983

4,377
67
347,815
59,991
5,797,805
Africa
228
15,020
17


170
173
Solomon Islands
24,575

153

N/A
N/A
N/A
1
34,077
212


721,159
Australia/Oceania
29
4,713



11,183
174
San Marino
24,210

125

24,013

72
4
710,283
3,667
196,855
5,775,414
34,085
Europe
1
273
0


2,112
175
Timor-Leste
23,433

138

23,102

193

17,112
101
278,529
203,391
1,369,429
Asia
58
9,923
5


141
176
Burkina Faso
22,056

396

21,596

64

998
18
248,995
11,265
22,102,838
Africa
1,002
55,815
89


3
177
Liechtenstein
21,437

91

21,345

1

558,444
2,371
112,457
2,929,559
38,387
Europe
2
422
0


26
178
Gibraltar
20,550

113

16,579

3,858

609,720
3,353
534,283
15,852,213
33,704
Europe
2
298
0


114,467
179
Grenada
19,693

238

19,358

97
4
173,545
2,097
182,981
1,612,523
113,475
North America
6
477
1


855
180
Bermuda
18,860

165

18,685

10

304,493
2,664

In [17]:
# To make the data organized we use pandas
import pandas as pd
pd.DataFrame(all_data)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1,USA,"106,792,474",,"1,162,701",,"104,777,111",,"852,662","1,152",...,"1,179,105,112","3,521,764","334,805,269",North America,3,288,0,,,"2,547"
1,2,India,"44,980,674",,"531,770",,"44,433,389",,"15,515",N/A,...,"928,487,923","660,079","1,406,631,776",Asia,31,"2,645",2,,,11
2,3,France,"40,044,973",,"166,970",,"39,784,462",,"93,541",869,...,"271,490,188","4,139,547","65,584,518",Europe,2,393,0,,,"1,426"
3,4,Germany,"38,417,622",,"173,797",,"38,217,400",,"26,425",N/A,...,"122,332,384","1,458,359","83,883,596",Europe,2,483,1,,,315
4,5,Brazil,"37,511,921",,"702,116",,"36,249,161",,"560,644",N/A,...,"63,776,166","296,146","215,353,593",South America,6,307,3,,,"2,603"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,227,Vatican City,29,,,,29,,0,,...,,,799,Europe,28,,,,,
227,228,Western Sahara,10,,1,,9,,0,,...,,,"626,161",Africa,"62,616","626,161",,,,
228,229,MS Zaandam,9,,2,,7,,0,,...,,,,,,,,,,
229,230,Tokelau,5,,,,,,5,,...,,,"1,378",Australia/Oceania,276,,,,,"3,628"
230,231,China,"503,302",,"5,272",,"379,053",,"118,977",N/A,...,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,,82

In [25]:
# I only want first column
pd.DataFrame(all_data[0])

                                            0
0                                           1
1                                         USA
2                                 106,792,474
3
4   1,162,701
5
6                                 104,777,111
7
8                                     852,662
9                                       1,152
10                                    318,969
11                                      3,473
12                              1,179,105,112
13                                  3,521,764
14                               334,805,269
15                              North America
16                                          3
17                                        288
18                                          0
19
20
21                                      2,547

In [26]:
# If i only want first 5 colums then,
data = list(map(lambda x: x[1:5], all_data))
#If I want the first row to have custom names rather than default numbers than
columns = ["Country", "TotalCases", "NewCases", "TotalDeaths"]
df = pd.DataFrame(data, columns = columns)
print(df)

            Country   TotalCases NewCases
0               USA  106,792,474           \
1             India   44,980,674
2            France   40,044,973
3           Germany   38,417,622
4            Brazil   37,511,921
..              ...          ...      ...
226    Vatican City           29
227  Western Sahara           10
228      MS Zaandam            9
229         Tokelau            5
230           China      503,302

                                   TotalDeaths
0    1,162,701
1      531,770
2      166,970
3      173,797
4      702,116
..                                         ...
226
227          1
228          2
229
230      5,272

[231 rows x 4 columns]